@charset "UTF-8";


@media screen and (min-width: 600px) {
    i#burger{
       display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}