@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkgrey;
    height: 12vh;
}

header h1{
    text-align: center;
}

i#burguer{
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin: 0px;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a{
    display: block;
    background-color: rgb(80, 79, 79);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 2px;
}

menu a:hover{
    background-color: rgb(41, 40, 40);
}

body{
    background-color: grey;
}

main{
    display: block;
    min-width: 300px;
    max-width: 700px;
    min-height: 500px;
    max-height: 1000px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    
}

main h2{
    text-align: center;
    padding: 10px;
}

main p{
    padding: 20px;
}

article{

    margin-top: 20px;
}

